.star-rating button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
    transition: transform 0.2s ease;
}

.star-rating .active svg {
    fill: yellow;
}

.star-rating .hovered svg {
    stroke: blue;
    fill: green;
}

.star-rating button:hover {
    transform: scale(1.5);
}

.star-rating .hovered.active svg {
    stroke: purple;
    color: green;
    fill: yellow;
}